@import "utils";

body {
  margin-top: 60px;
  text-align: center;
  background-color: $body-main;
}

h1 {
  padding-bottom: 0.5rem;
}

input[type=number] {
  cursor: pointer;
}

#input-celsius {
  background-color: $input-celsius;
  font-size: 2.5rem;
}

#input-fahrenheit {
  background-color: $input-fahrenheit;
  font-size: 2.5rem;
}

#input-kelvin {
  background-color: $input-kelvin;
  font-size: 2.5rem;
}

.form-padding {
  padding: 2rem 1rem;
}